*,h1,h2,h3,h4,h5,h6,p,nav,ul{
    padding: 0;
    margin: 0;
}
.landing_menu_wrapper{
    background-image:url(../images/landing_img.png);
    padding-bottom: 0;
    position: relative;
    max-height: 500px;
    background-position: 100% 100%;
    background-size: cover;
}
.landing_menu_wrapper #navbarSupportedContent {
    background: #FFFFFF;
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0 #c6c6c666;
}
nav.navbar {
    padding:0;
    margin-bottom:0; 
    margin-top: 0;
}
.landing_menu_wrapper nav.navbar
 .navbar-nav .nav-item {
    padding-left: 0px;
    padding-bottom: 15px;
}
.landing_menu_wrapper .nav-logo img{
    max-width: 35px;
    margin-right: 15px;
}
.landing_menu_wrapper .navbar-toggler{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.landing_menu_wrapper{
    position: relative;
    width: 100%;
    z-index: 3;
    float: left;
}
.toggle_button span{
    background-color: #2C2C2C; 
     border-radius: 2px;
     width: 100%;
     height: 3px;
     margin-bottom: 5px;
     display: block;
}
.toggle_button {
    width: 30px;
    margin-left: auto;
}
.toggle_button span:nth-child(2) {
    width: 75%;
}
.landing_menu_wrapper nav.navbar .nav_menu_wrpper{
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 0 0 10px 10px;
    display: flex;
    padding: 15px 34px 16px 26px;
    align-items: center;
    margin-left: auto;
}
.puma_wrapper{
    position: relative;
    z-index: 3;
    width: 100%;
}
.puma_wrap_content .left span {
    margin-bottom: -10px;
}
.puma_wrap_content{
    max-width: 946px;
    width: 100%;
    margin: 0 auto;
}
.puma_service_box{
    background: #FFFFFF;
    border-radius: 40px 0 40px 0;
    overflow: hidden;
    width: 100%;
    float: left;
    margin-top: 193px;
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.07);
}
 .service_header{
    background-color: #DBEFFF;
    padding: 30px 35px 36px 35px;

}
.service_header .left img{
    max-width: 100px;
    margin-right: 13px;
}
.service_header .left{
    color: #303559;
    font-family: 'Lato',sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    display: flex;
    align-items: center;
}
.service_header .right{
    max-width: 130px;
    margin-left: auto;
}
.service_header p{
    color: #303559;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-bottom: 10px;
}
.media_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.media_wrap a {
    margin-left: 20px;
}
.media_wrap a:first-child {
    margin-left: 0px;
}
.puma_service_box .service_body{
    padding: 50px 65px 60px 65px;
    width: 100%;
}
.service_content {
    text-align: center;
    max-width: 556px;
    margin: 0 auto;
}
.service_content h3{
    color: #3A2315;
    padding: 20px 0;
}
.service_content .top-title{
    color: #898989;
    margin-bottom: 0;
}
.service_content p.text{
    color: #3B5266;
    padding-bottom: 40px;
}
.service_content .text_button a.btn-positive {
    padding: 7px 37px;
}
.about_wrapper{
    background: #FFF9EA;
    padding-top: 700px;
    padding-bottom: 129px;
}
.aglc_content{
    background-color: #FFF9EA;
    z-index: 1;
    width: 100%;
    position: relative;
}
.aglc_menu_wrap{
    padding: 55px 0 68px 0;
    align-items: center;
}
.aglc_menu_wrap .row{
    display: flex;
    align-items: flex-start;
}
.aglc_menu_wrap .square_box{
    border: 1px solid #FF7900;
    border-radius: 9px;
    width: 100%;
    max-width: 153px;
    height: 174px;
    background-color: #FFF9F4;
    text-align: center;
    padding: 26px 20px 22px 20px;
    margin-left: auto;
    margin-right: 30px;
}
.aglc_menu_wrap h3{
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}
.square_box img{
    width: 34px;
    height: 34px;
    margin-bottom: 12px;
}
.aglc_menu_wrap h6{
    color: #2DB0E3;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 0;
}
.square_box p{
    color: #806E69;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 0;
}
.white_box_wrapper .box_wrap{
    display: flex;
    align-items: center;
}
.content_wrap p{
    color: #705147;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 30px;
}
.content_wrap{
    padding-top: 10px;
}
.white_box_wrapper .white-box{
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 2px 30px 0 rgba(48, 70, 89, 0.04);
    max-width: 628px;
    padding: 40px 45px 32px 33px;
}
.white_box_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 68px;
    width: 100%;

}.white_box_wrapper .left{
    width: 30%;
    padding-right: 5%;
}
.white_box_wrapper .right{
    width: 68%;
}
.white_box_wrapper h2{
    color: #3A2315;
    font-family: 'Lato',sans-serif;
    font-size: 106px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}
.white_box_wrapper .white-box sup{
    color: #8298AB;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.54px;
    text-align: center; 
    top: -3em;
}
.about_wrapper .white-box .form-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.white-box .text_button a.btn-positive {
    padding: 7px 37px;
}
.about_wrapper .white-box .input_content {
    width: 51%;
    padding-right: 0;
    margin-right: 8%;
}
.about_wrapper .white-box .text_button{
    width: 42%;
}
.about_wrapper .white-box .select2 {
    background-color: #FFF4EB;
    border: none;
    padding: 5px 10px;
}
.white_box_wrapper p.form_text{
    color: #806E69;
    font-family: 'Lato',sans-serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}
.about_wrapper .white-box .select2-selection{
	background-color: transparent;
	border:none;
	outline: none;
	box-shadow: none;
	background-image: url('../images/chevron.svg') !important;
	background-repeat: no-repeat;
	background-position: 94% 59%;
	background-size: 12px;
	color: #2B2B2B;
	font-family: 'Lato',sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
}
.select2-selection__arrow {
    display: none;
}
.milestones_wrapper{
    padding:  125px 0 121px 0 ;
    justify-content: center;
}
.milestones_wrapper ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 67px;
    margin-bottom: 0;
}
.milestones_wrapper .milestone_content{
    max-width: 850px;
    margin: 0 auto;
}
.milestones_wrapper h2{
    color: #3A2315;
    text-align: center;
    margin-bottom: 0;
}
.milestones_wrapper .title_wrap{
    margin: 0 auto;
    padding-bottom: 80px;
    max-width: 733px;
}
.milestones_wrapper ul h4 span {
    display: block;
}
.milestones_wrapper .bottom_wrap{
    color: #3A2315;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 6px;
    padding-left: 59px;
}
.milestones_wrapper ul h4{
    color: #3A2315;
    font-size: 36px;
    padding-left: 59px;

}
.milestones_wrapper ul > li::before {
    content: '';
    background-image: url(../images/contrast_icon.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.text_button a.btn-buynow {
    background-color: #FFF0E1;
    padding: 8px 45px;
    color: #FF7900;
    border-color: #FFF0E1;
}
.milestones_wrapper .text_button{
    text-align: center;
}
.aboutraffle_wrapper{
    background-color: #FFF9EA;
    padding: 122px 0 112px 0 ;
}
.aboutraffle_wrapper h3{
    text-align: left;
    color: #3A2315;
}
.content_wrap p:nth-child(2){
    margin-bottom: 0;
}
h4.title_wrapper{
    color: #3A2315;
    text-align: left;
}
.rules_wrapper{
    padding: 60px 0 46px 0 ;
}
.rules_wrapper img {
    width: 19px;
    margin-left: 20px;
    transition: 0.3s all linear;
}
.rules_wrapper .list_content ul li {
    color: #3B5266;
    font-family: 'Lato',sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 40px;
    position: relative;
}
.rules_wrapper .list_content ul{
    list-style: none;
    counter-reset: item;
    column-count: 2;
    column-gap:8%;
}
.rules_wrapper .list_content{
    padding: 40px 140px 0 160px;
}
#chevron_down_icon {
    cursor: pointer;
}
.rules_wrapper .list_content ul li:before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: counters(item, ".");
    counter-increment: item;
    top: 0;
    left: -45px;
    z-index: 2;
    background-color: #FFEA9E;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    /* min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px; */
    color: #304659;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.update_wrapper{
    background-color: #FFF9EA;
    padding: 60px 0 70px 0;
}
.update_content_wrap{
    padding-top: 50px;
}
.testimonial_box {
    width: 100%;
    float: left;
    background-color: #FBF2DD;
}
.testimonial_box .left {
    float: left;
    width: 34%;
}
.testimonial_box img {
    margin: 0;
    width: 100% !important;
}
.testimonial_box p {
    color: #304659;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.testimonial_box .right {
    width: 66%;
    float: left;
    padding: 20px 40px 45px 25px;
}
.testimonial_box .top-title {
    font-size: 15px;
    text-transform: initial;
    margin-bottom: 15px;
}
.update_wrapper .owl-dots {
    padding-top: 40px;
}
.update_wrapper .owl-dots span {
	background-color: #0091FF;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	display: block;
}
.update_wrapper .owl-dots button{
	margin-right: 10px;
}
.update_wrapper .owl-dots button.active span{
	border: 1px solid #3B5266;
	background-color: transparent;
}
.landing_footer .copy_right_text {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 55px 0 56px 0;
}
footer .copy_right_text a.footer_brand {
    max-width: 44px;
    display: inline-block;
}
footer{
    padding-bottom: 0;
}

@media (max-width: 767px){
    .landing_menu_wrapper .nav-logo img {
        max-width: 32px;
        margin-right: 10px;
    }
    .toggle_button{
        width: 26px;
    }
    .landing_menu_wrapper{
        max-height: initial;
        padding-bottom: 40px;
    }
    .landing_menu_wrapper #navbarSupportedContent {
        top: 60px;
    } 
    .landing_menu_wrapper nav.navbar .nav_menu_wrpper{
        padding: 6px 10px 7px 10px;
    }
    .service_header .left img {
        max-width: 80px;
        margin-right: 0;
    }
    .puma_service_box{
        margin-top: 50px;
    }
    .service_header .left {
        font-size: 18px;
        line-height: 30px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .service_header .right{
        margin: 0 auto;
    }
    .service_header p  {
       text-align: center;
        padding-bottom: 6px;
    }
    .media_wrap a img{
        width: 22px;
    }
    .media_wrap{
        justify-content: center;
        margin-top: 10px;
    }
    .service_header {
        padding: 16px 20px 20px 20px;
    }
    .puma_service_box .service_body {
        padding: 20px 20px;
    }
    .service_content p.text {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .service_content h3 {
        padding: 14px;
    }
    .aglc_menu_wrap h3 {
        text-align: center;
    }
    .about_wrapper {
        padding-top: 560px;
        padding-bottom: 60px;
    }
    .about_wrapper .container {
        max-width: 1200px;
    }
    .aglc_menu_wrap .aglc_box{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .aglc_menu_wrap .square_box{
        margin: 0 auto;
        height: auto;
        padding: 16px 15px 18px 16px;
    }
    .aglc_menu_wrap h3{
        margin-bottom: 10px;
    }
    .aglc_menu_wrap h6{
        font-size: 30px;
        line-break: 36px;
    }
    .square_box img{
        margin-bottom: 10px;
    }
    .content_wrap p{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 18px;
    }
    .white_box_wrapper {
        padding-top: 20px;
    }
    .white_box_wrapper .white-box {
        padding: 25px 15px;
    }
    .white_box_wrapper .box_wrap {
        flex-direction: column;
    }
    .white_box_wrapper h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .box_wrap .right{
        padding-top: 20px;
    }
    .white_box_wrapper .white-box sup {
        font-size: 18px;
        top: -2em;
    }
    .white_box_wrapper .left, .white_box_wrapper .right{
        width: 100%;
    }
    .about_wrapper .white-box .input_content {
        width: 60%;
        margin-right: 5%;
    }
    .about_wrapper .white-box .text_button{
        width: 35%;
    }
    .aglc_menu_wrap {
        padding: 55px 0 20px 0;
        align-items: center;
    }
    .milestones_wrapper {
        padding: 40px 0 40px 0;
    }
    .milestones_wrapper .title_wrap {
        padding-bottom: 40px;
    }
    .milestones_wrapper ul h4 {
        font-size: 19px;
        line-height: 26px;
        text-align: left;
        padding-left: 40px;
    }
    .milestones_wrapper ul > li::before {
        width: 32px;
        height: 32px;
    }
    .milestones_wrapper .bottom_wrap {
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
        padding-left: 38px;
    }
    .milestones_wrapper ul {
        justify-content: space-around;
        padding-bottom: 40px;
    }
    .aboutraffle_wrapper {
        padding: 40px 0 40px 0;
    }
    .aboutraffle_wrapper h3 {
        text-align: center;
    }
    .aboutraffle_wrapper .left{
        padding-bottom: 20px;
    }
    .rules_wrapper {
        padding: 40px 0 40px 0;
    }
    .rules_wrapper .list_content {
        padding: 0;
        padding-top: 30px;
    }
    .rules_wrapper .list_content ul {
        column-count: 1;
        column-gap: 0;
        padding-left: 38px;
    }
    .rules_wrapper .list_content ul li {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .rules_wrapper img {
        width: 14px;
        margin-left: 10px;
    }
    .update_wrapper {
        padding: 40px 0 40px 0;
    }
    h4.title_wrapper {
        text-align: center;
    }
    .update_content_wrap {
        padding-top: 30px;
    }
    .testimonial_box .right{
        padding: 15px 20px 30px 20px;
    }
    .testimonial_box p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .testimonial_box .top-title {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 12px;
    }
    .update_wrapper .owl-dots {
        padding-top: 25px;
        text-align: center;
    }
    .landing_footer .copy_right_text {
        font-size: 16px;
        padding: 20px 0 ;
    }
    footer .copy_right_text a.footer_brand {
        max-width: 38px;
    }
    .milestones_wrapper ul > li{
        margin-bottom: 24px;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .landing_menu_wrapper .nav-logo img {
        max-width: 34px;
        margin-right: 12px;
    }
    .toggle_button{
        width: 29px;
    }
    .landing_menu_wrapper{
        max-height: 430px;
    }
    .landing_menu_wrapper #navbarSupportedContent {
        top: 70px;
    } 
    .landing_menu_wrapper nav.navbar .nav_menu_wrpper{
        padding: 10px 19px 9px 13px;
    }   
    .container {
        max-width: 950px;
    }
    .service_header .left {
        font-size: 22px;
        line-height: 40px;
    }
    .puma_service_box{
        margin-top: 130px;
    }
    .puma_wrap_content {
        max-width: 800px;
    }
    .about_wrapper {
        padding-top: 580px;
        padding-bottom: 70px;
    }
    .media_wrap a img {
        width: 26px;
    }
    .service_header {
        padding: 20px 24px 22px 24px;
    }
    .puma_service_box .service_body {
        padding: 40px 55px 50px 55px;
    }
    .service_content p.text {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 30px;
    } 
    .service_content h3{
        padding-bottom: 18px;
    }
    .aglc_menu_wrap {
        padding: 40px 0 42px 0;
        align-items: center;
    }
    .content_wrap p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .white_box_wrapper {
        padding-top: 40px;
    }
    .white_box_wrapper h2 {
        font-size: 82px;
        line-height: 54px;
    }
    .white_box_wrapper .white-box sup {
        font-size: 18px;
        top: -2em;
    }
    .white_box_wrapper .white-box{
        padding: 26px 38px 30px 30px;
    }
    .milestones_wrapper .title_wrap {
        padding-bottom: 54px;
    }
    .milestones_wrapper {
        padding: 75px 0 91px 0;
    }
    .milestones_wrapper ul {
        padding-bottom: 47px;
        justify-content: space-around;
    }   
    .milestones_wrapper ul h4{
        font-size: 30px;
        padding-left: 52px;
    }    
    .aboutraffle_wrapper {
        padding: 80px 0 72px 0;
    }   
    .rules_wrapper .list_content {
        padding: 36px 40px 0 58px;
    }   
    .rules_wrapper .list_content ul li {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 26px;
    }
    .rules_wrapper img {
        margin-left: 16px;
    }
    .update_wrapper {
        padding: 40px 0 50px ;
    }
    .testimonial_box p {
        font-size: 17px;
        line-height: 23px;
    }   
    .testimonial_box .top-title{
        font-size: 14px;
        margin-bottom: 8px;
        text-align: left;
    }
    .testimonial_box .right {
        padding: 17px 21px 19px 18px;
    }
    .update_wrapper .owl-dots {
        padding-top: 30px;
    }
    .aglc_menu_wrap .square_box{
        height: 170px;
        padding: 19px 18px 18px 18px;
        margin-right: 20px;
    }
    .square_box img{
        margin-bottom: 12px;
    }
    .aglc_menu_wrap h6{
        font-weight: 600;
        font-size: 34px;
        line-height: 38px;
    }
    .aglc_menu_wrap h3{
        margin-bottom: 16px;
    }
    .square_box p {
        font-size: 14px;
    }
    .landing_footer .copy_right_text {
        font-size: 18px;
        padding: 30px;
    }
    footer .copy_right_text a.footer_brand {
        max-width: 38px;
    }

}

@media(max-width: 991px){
    .aglc_menu_wrap h3{
        font-size: 28px;
    }
    .testimonial_box .left, .testimonial_box .right {
        width: 100%;
    }    
    .testimonial_box .left{
        max-height: 300px;
        overflow: hidden;
    }
}
@media(max-width: 480px){
    .milestones_wrapper ul {
        flex-direction: column;
        padding-left: 40px;
    }
    .milestones_wrapper ul h4{
        padding-left: 45px;
    }
    .milestones_wrapper .bottom_wrap {
        padding-left: 45px;
    }
}
@media(max-width: 440px){
    .service_header .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about_wrapper .white-box .form-group {
        flex-direction: column;
        justify-content: center;
    }
    .about_wrapper .white-box .input_content, 
    .about_wrapper .white-box .text_button {
        width: 100%;
        margin: 0;
    }    
    .about_wrapper .white-box .input_content{
        margin-bottom: 20px;
    }
    .about_wrapper .white-box .text_button {
        margin-bottom: 10px;
        text-align: center;
    }    
    .white-box .text_button a.btn-positive {
        width: 100%;
    }
}



