 .raffle_header{
    background-image: url(../svg/left_curve.svg), url(../svg/right_curve.svg);
    background-position: 0 0, 110% 0 ;
    background-repeat: no-repeat, no-repeat;
    border: 1px solid #F6DB99;
    background-size: 43% , contain;
    padding-bottom: 0;
}
.raffle_header nav.navbar {
    padding: 36px 0 36px 0;
    margin-bottom: 0; 
}
.inner_wrap_content h2{
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
}