html,
body {
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
	max-width: 2560px;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*{
	padding: 0;
	margin: 0;
}
img{
	width: 100%;
}
a{
	transition: 0.3s all ease-in-out;
}
a:hover {
	text-decoration: none;
	
}
.container{
	max-width: calc( 1140px + 30px);
	margin-right: auto;
	margin-left: auto;
}
.homesection {
	background-color:	 #FFF9EA;
	background-image: url(../svg/bg-svg-img.svg);
    padding-bottom: 125px;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 72%;
}
nav.navbar{
	padding: 38px 0 10px 0;
	margin-bottom: 50px;
}
a.navbar-brand{
	max-width: 245px;
}
nav .navbar-brand{
	text-align: left;
	padding-top: 0;
}
nav.navbar .navbar-nav .nav-item{
    padding-left: 20px;
}
nav.navbar .navbar-nav .nav-link {
	color: #593A30;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
    text-align: left;
    margin-top: 0px;
    text-decoration: none;
}
.text_button a{
    border-radius: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
}
.text_button a.btn-positive{
    background-color: #FF7900;
	color: #FFFFFF;
	border-color: #FF7900;
}
.head_wrapper .text_button a.btn-positive{
	padding: 7px 23px;
}
.text_container .text_button a.btn-positive{
	padding: 7px 36px;
}
.menu_wrapper .row{
    display: flex;
    flex-wrap: wrap;
}
.homesection .text_box{
	padding-right: 80px;
	padding-top: 165px;
}
 h1.text_title{
	color: #593A30;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 70px;
	line-height: 75px;
	text-align: left;
    padding-bottom: 40px;
}
h5.text_content{	
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	color: #705147;
    text-align: left; 
}
h5.text_content{
	padding-right: 150px;
	padding-bottom: 40px;
}
 .text_container .image_box  {	
	width: 135%;
	margin-left: -65px;
}
.springwrapper .text_box {
	padding-top: 45px;
	margin-left: 22%;
	padding-right: 80px;
}
.card_wrapper{
	float: left;
}
.card_wrapper .col2{
	padding-top: 115px;
}
.card_wrapper .col1, .card_wrapper .col2{
	width: 50%;
	float: left;
	padding-left: 30px;
}
.card_wrapper .card{
	background-color: #FFDD62;
	border-radius: 0;
	border: none;
	margin-bottom: 30px;
	max-width: 300px;
}
.card .card_image img{
	max-width: 300px;
	min-height: 160px;
	object-fit: cover;
} 
.card .card_text{
	padding: 15px;
	display: flex;
}
 h6.card-title{
	color: #304659;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	margin: 0;
} 
.card_text img {	
	width: 24px;
	margin-left: 2px;
} 	
.springwrapper{
	max-height: 691px;
	padding: 140px 0 0 0;
}
 h4.title_wrapper{
	color:  #593A30;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 40px;
}
p.description{
	color: #705147;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
}
.springwrapper h4.title_wrapper{
	padding-bottom: 25px;
	text-align: left;
}
.springwrapper p.description{
	padding-bottom: 16px;
}
.text_button a.btn-viewraffle{
	background-color: #FFF0E1;
	padding: 8px 25px;
	color: #FF7900;
	border-color:#FFF0E1;
}
.dashboard_wrapper{
	background-color: #2B2B2B;
	padding: 80px 0 20px;
	position: relative;
}
h6{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
}
.dashboard_top h4.title_wrapper{
	color: #F5F9FC;
	text-align: center;
	margin: 0 auto;
    margin-right: auto;
    padding-bottom: 80px;
}
 h6.dashboard_title{
	color: #F5F9FC;
	margin-left: 60px;
    margin-bottom: 10px;
}
.dashboard_wrap{
	max-width: 750px;
	margin: 0 auto;
}
.dashboard_wrap_list p.description{
	color: #E1E9F0;
	margin-left: 60px;
}
.dashboard_wrap_list {
	column-count: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.dashboard_wrap_list .column{
	max-width: 360px;
	padding-bottom: 70px;
}
.dashboard_wrap_list .dashboard_icon {
	width: 40px;
	float: left;
}
.createwrapper{
	background-color: #FFF9EA;	
}
h2{
	color: #593A30;
	font-family: 'Lato', sans-serif;
	font-size: 55px;
	font-weight: 400;
	line-height: 60px;
	text-align: left;
}
.createwrapper .create_content{
	padding: 100px 0 100px 0;
}
.createwrapper .create_wrap_img{
	width: 85%;
}
.createwrapper .create_wrap_text{
	padding-left: 100px;
}
.createwrapper h2.title-wrapper{
	padding-bottom: 24px;
	max-width: 458px;
} 
.createwrapper p.description{
	padding-bottom: 35px;
	max-width: 458px;
}
.createwrapper .text_button a.btn-signup{
	background-color: #FF7900;
	border-color: #FF7900;
	width: 108px;
	color: #F5F9FC;	
}
.createwrapper .text_button .btn-viewallraffle{
	color:#FF7900;
}
h3{
	position: relative;
	color: #593A30;
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	font-weight: 400;
	line-height: 50px;
	padding-bottom: 12px;
	text-align: center;
}
.review_wrapper {
	padding: 70px 0 150px 0;
}
.review_wrapper .carousel_title{
padding-bottom: 86px;
}
.testimonial_quote img {
	margin-right: 30px;
	width:80px !important;
	margin-top: 6px;
}
p.testimonial-content{
	position: relative;
	color: #705147;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-style: italic ;
	line-height: 40px;
	text-align: left;
	margin: 0 auto;
}
.carousel_box h6{
	color: #593A30;
	margin-bottom: 5px;
}
 .carousel_box p{
	color: #898989;	
}
.carousel_box{
	padding-top: 40px;
}
.carousel_box .author-left {
	width: 16%;
	float: left;
}
.carousel_box .author-right {
	width: 80%;
	float: left;
	padding-left: 4%;
}
.author__box .img {
	height: 50px;
	width: 50px;
}
.testimonial_quote {
    display: flex;
    align-items: flex-start;
    max-width: 845px;
    margin: 0 auto;
}
#carousel_indicator {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 114px;
	border-top: 1px solid #FFC892;
}
#carousel_indicator > li {
		width: 30%;
		margin-top: -2px;
		cursor: pointer;
}
#carousel_indicator li.active {
    border-top: 3px solid #FF7900;
}
.carousel-box {
	width: 100%;
	float: left;
    padding-top: 38px;
}
.cart_wrapper{
	background-color: #FFF9EA;
	position: relative;
	padding: 108px 0 137px 0;
}
.cart_wrapper h3.cart_title{
	margin-bottom: 43px;
	width:946px;
	text-align: left;
	left: -2%;
}
.cart_wrapper img.cart-icon {
	width: 64px;
	height: 64px;
	margin-right: 20px;
}
.cart_wrapper ul li {
	display: flex;
}
.cart_wrapper ul li p{ 
	list-style: none;
	position: relative;
	color:#FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin-bottom: 25px;
}
.cart_wrapper .white-cart ul li p{ 
	color:#3B5266;
	margin-bottom: 22px;
}
p{
	font-family: 'Lato',sans-serif;
    font-size: 17px; 
    font-weight: 400;
    line-height: 25px; 
}
.top-title{
   color: #898989;
    font-family: 'Lato',sans-serif;
    font-size: 13px; 
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px; 
    text-align: center;
	text-transform: uppercase;
}
.cart_wrapper .row.cart_content {
	display: flex;
	margin-top:10px;
	padding: 0 auto;
}
.cart_wrapper .featured .cart-box{
	padding: 60px 98px 50px ;
}
.cart_wrapper .box .white-cart{
	padding: 45px 30px 30px;
}
.cart_wrapper .box{
    margin-bottom: 30px;
    background: #FFFFFF;
	text-align: center;
	max-width: 42%;
	position: relative;
	overflow: hidden;
}
.cart_wrapper .featured{
	background-color: #2B2B2B;;
	z-index: 10;
	box-shadow: 0 2px 30px 0 rgba(146, 104, 0, 0.16);
	margin: -30px -5px 0 -5px;
}
.cart_wrapper .cart_footer {
	padding-top: 63px;
	margin: 0 auto ;
	justify-content: center;
	align-items: center;
}
.cart_wrapper .description{
	color: #898989;
	text-align: center;
	margin-bottom: 20px;
}
.cart_wrapper ul i{
	color: #4D8AF0;
	font-size: 20px;
	padding-right: 8px;
	line-height: 20px;
}	
.cart_wrapper h5{
	color: #593A30;
	font-family:'Lato', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
}
.white-cart .white_head .col_box{
	column-count: 2;
	display:flex;
}	
.white_head .col_box .right{
	padding-left:8px;
	float: left;	
}
.white_head .col_box .left{
	float: left;	
}
.cart_wrapper h2 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 20px;
}
.cart_wrapper h2 sup{
	color: #A3A3A3;
	font-size: 25px;
	top: -27px;
	right: 10px;
}
.cart_wrapper .btn1-wrap{
	margin: 0 -40px;
    padding: 25px 15px;
    text-align: center;
	background: #FF7900;
}
.cart_wrapper a{
	font-family:'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
} 
.cart_wrapper a.get-started{
	color: #FFFFFF;
}
.cart_wrapper .btn2-wrap{
	margin: 0;
    padding: 25px 15px;
	text-align: center;
	border-top: 1px solid #E2EAF1;
}
.cart_wrapper span{
	color: #3B5266;
	font-family:'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	width: 476px;
	text-align: left;
  }
.cart_wrapper a.signupfree{
	color:#FF7900; 
}
.signup_wrapper{
	padding: 82px 0 90px 0;
}
.signup_wrapper h4.title_wrapper{
	padding-bottom: 30px;
	margin: 0;
}
.signup_wrapper .text_button a.btn-viewraffle{
	padding: 8px 36px;
}
.client_wrapper{
	background-color: #FFDD62;
	padding: 98px 0 115px 0;
}
.client_wrapper .grid-container {
	position: relative;
	display: grid;
	grid-gap: 20px 30px;
	grid-template-columns: auto auto auto;
}	
.client_wrapper .grid-items{
	text-align: center;
	padding: 10px;
}
.client_wrapper img.fossa{
	width: 44%;	
}
.client_wrapper img.asgardia{
	width: 204px;
	margin-left: -30px;
}
.client_wrapper img.kanba{
	width:137px;
}
.client_wrapper img.aven{
	width: 160px;
}
.client_wrapper img.kyan{
	width: 132px;
}
.client_wrapper img.velocity{
	width: 187px;
}
.client_wrapper .description{
	padding-top: 20px;
	color: #593A30;
	float: left;
	position: relative;
	width: 80%;
}
.client_wrapper img{
	display: block;
} 
.newsetter-box p.description{
	color: #3B5266;
	text-align: center;
	margin-top: 25px;
}
.form_wrapper {
	background-color: #FFF9EA;
	padding: 70px 0 80px 0;
}
.newsetter-box{
	max-width: 385px;
	margin: 0 auto;
}
.newsetter-box form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
	color: #D7C495;
	font-family:'Lato', sans-serif;
	font-size: 13px;
	line-height: 20px;
}
 .newsetter-box form input[type="submit"] {
	position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
	font-family:'Lato', sans-serif;
	font-size: 17px;
	line-height: 25px;
    padding: 0 20px;
    background: #FFF0E1;
    color: #FF7900;
	transition: 0.3s;
}
 .newsetter-box form{
	margin-top: 30px;
    background: #FFFFFF;
    padding: 8px 10px;
    position: relative;
    text-align: left;
    border: 1px solid #FFFFFF;
}
/*** footer ***/
footer{
	background-color: #2B2B2B;
	font-family:'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	padding-bottom: 20px;
    width: 100%;
}
footer .footer-top {
    padding-top: 40px;
    padding-bottom: 30px;
}
footer .footerlink{ 
	display: flex;
    list-style: none;
}
footer .footerlink a{  
    font-family: 'Roboto',sans-serif;
	color: #FFF9EA;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;  
	padding-right: 45px;
	margin: 0;
}
footer .social-media{
	display: flex;
	list-style: none;
	float: right;
	align-items: center;
}
footer .social-media img{
	color: #FFF9EA;
	max-width: 25px;
	max-height: 25px;
}
footer .social-media li{
	padding: 0 20px 0 0;
}
footer .text_button .btn-footer{
	background-color: #FFF9EA;
    border-radius: 20px;
	color: #2B2B2B;
	float: right;
}
footer .copy_right_text .footer_border {
	border-top: 1px solid #3A3A3A;
   padding-bottom: 30px;
}
footer .copyright p{
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
  	line-height: 20px;
    float: left;
	color: #64686D;
	margin: 0;
}
footer .footer_image img{
	float: right;
	max-width: 50px;
}	

@media (max-width: 767px){
	.homesection {
		padding-bottom: 42px;
		background-size: 100%;
	}
	nav.navbar {
		padding: 15px 0 10px 0;
		margin-bottom: 20px;
	}
	nav.navbar .navbar-nav .nav-link {
		font-size: 16px;
		line-height: 24px;
	} 
    .head_wrapper .container {
        position: relative;
        z-index: 1;
    }
	a.navbar-brand {
		max-width: 170px;
	}
	#navbarSupportedContent {
		background: #FFFFFF;
		position: absolute;
		top: 57px;
		width: 100%;
		padding: 20px;
		border-radius: 6px;
		box-shadow: 1px 1px 4px 0 #c6c6c666;
	}
	nav.navbar .navbar-nav .nav-item {
		padding-left: 0;
	}
	.container{
		max-width: 600px;
	}
	h1.text_title{
		font-size: 35px;
		line-height: 46px;
		width: 100%;
		text-align: center;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	h5.text_content{
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		padding:15px 0 20px;
		margin: 0 auto;
	}
	.text_container .text_button {
		text-align: center;
	}
	.homesection .text_box {
		padding-right: 10px;
		width: 450px;
		margin: 0 auto;
		padding-top: 16px;
	}
	.homesection .text_container {
		position: relative;
	}
	.text_container .image_box {
		width: 100%;
		margin-left: 0;
		margin: 0 auto;
	}
	.springwrapper {
		padding-top: 40px;
		max-height: initial;
		padding-bottom: 30px;
	}
	.springwrapper .text_box {
		padding-top: 20px;
		 margin: 0;
		 padding-right: 0;
	}
	.card_wrapper .col2{
		padding-top: 0;
	}
	.card .card_image img{
		max-width: 100%;
		max-height: 200px;
		overflow: hidden;
	}
	.card_wrapper .col1, .card_wrapper .col2{
		width: 100%;
		padding-left: 0;
	}
	h6.card-title{
		font-size: 18px;
		line-height: 20px;
	} 	
	.card_text img {	
		width: 16px;
		margin-left: 10px;
	}
	.card .card_text{
		padding: 10px;
		justify-content: center;
	}  
	.card_wrapper .card {
		max-width: 100%;
		margin-bottom: 20px;
	}
	h4.title_wrapper {
		text-align: center;
		font-size: 24px;
		line-height: 32px;
	}
	.text_button a {
		font-size: 14px;
		line-height: 26px;
	}
	.springwrapper h4.title_wrapper {
		padding-bottom: 14px;
		margin-bottom: 0;
		text-align: center;
		width: 100%;
	}
	.springwrapper p.description {
		padding-bottom: 20px;
		padding-left: 10px;
	}
	 p.description {
		font-size: 15px;
		line-height: 21px;
	}
	.springwrapper .text_button{
		margin-bottom: 26px;
		text-align: center;
	}
	.dashboard_wrapper {
		padding-top: 40px 0 24px;
	}
	.dashboard_wrap_list {
		column-count: 1;
	}
	.dashboard_wrap_list .column{
		max-width: 100%;
		padding-bottom: 26px;
	}
	.dashboard_wrap_list h6.dashboard_title {
		font-size: 18px;
		line-height: 22px;
		margin-left: 38px;
		margin-bottom: 8px;
	}
	.dashboard_top h4.title_wrapper {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.dashboard_wrap_list p.description {
		font-size: 14px;
		line-height: 22px;
		margin-left: 38px;
		margin-bottom: 0;
	}
	.dashboard_wrap_list .dashboard_icon {
		width: 32px;
	}
	.createwrapper .create_wrap_img {
		max-width: 400px;
		margin: 0 auto 40px auto;
	}
	.createwrapper h2.title-wrapper {
		padding-bottom:20px;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 0;
		max-width: 100%;
		text-align: center;
	}
	.createwrapper p.description {
		padding-bottom: 20px;
		font-size: 15px;
		line-height: 21px;
		max-width: 100%;
	}
	.createwrapper .text_button{
		text-align: center;
	}
	.createwrapper .create_content {
		padding: 50px 0 40px 0;
	}
	.createwrapper .create_wrap_text {
		padding: 15px;
	}
	.review_title h3 {
		margin-bottom: 20px;
		text-align: center;
		font-size: 26px;
		line-height: 32px;
	}
	.review_wrapper .row.review_content {
		padding: 40px 0 30px 0;
	}
	.cart_wrapper {
		padding: 40px 0 40px  0;
	}
	.cart_wrapper h3.cart_title {
		width: 600px;
		font-size: 26px;
		line-height: 32px;
		text-align: center;
		left: 0;
		padding: 0;
	}
	.cart_wrapper .row.cart_footer {
		padding-top: 10px;
	}
	.cart_wrapper img.cart-icon {
		width: 34px;
		height: 34px;
		margin-right: 10px;
	}
	.cart_wrapper .white-cart ul li p{ 
		margin-bottom: 10px;
	}
	.cart_wrapper .box{
		max-width: 100%;
		margin: 0 16px 25px;
	}
	.cart_wrapper .featured .cart-box {
		padding: 25px 20px 10px;
	}
	.cart_wrapper .featured{
		max-width:100%;
		box-shadow: none;
	}
	.cart_wrapper .box .white-cart {
		padding: 25px 10px 10px;
	}
	.cart_wrapper h5 {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	.cart_wrapper ul li p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.cart_wrapper .btn2-wrap {
		margin: 0;
		padding: 10px 15px;
	}
	.cart_wrapper .btn1-wrap {
		padding: 10px 15px;
	}
	.white-cart .white_head .col_box{
		column-count: 1;
		display: flex;
		flex-wrap: wrap;
	}
	.white_head .col_box .left ul{
		margin-bottom: 0;
	}
	.white_head .col_box .right{
		padding-left: 0;
		margin: 0;
	}
	.cart_wrapper h2 {
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 36px;
	}
	.top-title {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;	
	}
	.cart_wrapper .row.cart_content {
		margin-top: 0;
	}
	.cart_wrapper h2 sup {
		font-size: 22px;
		line-height: 26px;
		top: -15px;
		right: 5px;
	}
	.cart_wrapper .description {
		margin-bottom: 12px;
	}
	.cart_wrapper span {
		font-size: 15px;
		line-height: 22px;
		width: 80%;
		text-align: left;
	}
	.signup_wrapper {
		padding: 40px 0 40px 0;
	}
	.signup_wrapper h4.title_wrapper {
		padding-bottom: 20px;
	}
	.client_wrapper img.fossa {
		width: 45%;
		margin: 0 auto;
	}
	.client_wrapper img.asgardia {
		width: 164px;
		max-height: 100%;
	}
	.client_wrapper img.kanba {
		width: 116px;
	}
	.client_wrapper img.aven {
		padding-top: 8px;
		width: 128px;
	}
	.client_wrapper img.kyan {
		width: 110px;
	}
	.client_wrapper img.velocity {
		padding-top: 8px;
		width: 158px;
	}
	.client_wrapper {
		padding: 60px 0 64px 0;
	}
	.client_wrapper .description {
		padding-top: 0;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		width: 100%;
	}
	.client_wrapper .grid-container {
		justify-content: center;
		align-items: center;
		display: flex;
		 flex-wrap: wrap;
		flex-direction: column;
		margin: 10px auto 10px;
	}
	.client_wrapper img{
		display: list-item;
		list-style: none;
		padding: 8px 0 8px;	
	}
	h3 {
		font-size: 26px;
		line-height: 32px;
	}
	.newsetter-box h3{
		padding-bottom: 20px;
	}
	.newsetter-box form {
		margin-top: 10px;
	}
	.newsetter-box p.description {
		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
	}
	.newsetter-box .top-title {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 15px;
	}
	.form_wrapper {
		padding: 40px 0 40px 0;
	}
	.newsetter-box form input[type="submit"] {
		font-size: 14px;
		line-height: 26px;
		padding: 0 14px;
	}
	footer .footer-top {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	footer .footerlink a {
		font-size: 14px;
		line-height: 22px;
		padding-right: 20px;
	}
	footer .social-media li {
		padding: 0 8px 0 0;
		display: inline;
	}
	footer .copy_right_text .footer_border {
		padding-bottom: 10px;
	}
	footer .footerlink {
		justify-content: center;
		margin-bottom: 20px;
	}
	footer .social-media {
		float: unset;
		justify-content: center;
	}
	footer .text_button .btn-footer {
		padding: 2px 8px;
	}
	 .copyright.col-md-6 {
		justify-content: center;
	 }
	footer .footer_image img {
		float: unset;
		text-align: center;
		max-width: 30px;
	}
	.footer_image.col-md-6 {
		margin-top: 10px;
		text-align: center;
	}
	footer .copyright p {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		float: unset;
	}
	.review_wrapper {
		padding: 40px 0 50px 0;
	}
	.review_wrapper .carousel_title{
	padding-bottom: 20px;
	}
	p.testimonial-content{
		font-size: 14px;
		line-height:18px;
	}
	.carousel_box {
		padding-top: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.testimonial_quote img{
		margin-right: 10px;
		width:25px !important;
		margin-top: 4px;
	}
	.carousel_box h6 {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.carousel_box p {
		font-size: 14px;
		line-height: 18px;
	}
	#carousel_indicator > li {
		width: 220px;
		margin-top: -2px;
		display: none;
	}
	#carousel_indicator li.active {
		display: initial;
	}
	#carousel_indicator {
		margin-top: 30px;
	}
	 .carousel_box .author-left{
		margin-bottom: 10px;
		width: 16%;
	}
	.carousel_box .author-right{
		padding-left: 10%;
	}
	.carousel_box img{
		height: 40px;
		width: 40px;
		margin: 0 auto;
	}
}
@media(min-width: 768px) and (max-width: 1024px){
	.homesection {
		padding-bottom: 64px;
	}
	nav.navbar {
		padding: 18px 0 10px 0;
		margin-bottom: 20px;
	}
	nav.navbar .navbar-nav .nav-item {
		padding-left: 0;
	}	
	a.navbar-brand{
		max-width:190px;
	}
	nav.navbar .navbar-nav .nav-link {
		font-size: 16px;
		line-height: 24px;
	}
	.text_button a {
		font-size: 16px;
		line-height: 24px;	
	}
	h1.text_title{
		font-size: 44px;
		line-height: 54px;
		width: 100%;
		padding-bottom: 20px;
		margin: 0;
	}
	.text_container .image_box {
		width: 120%;
		margin-left: -70px;
	}
	h5.text_content{
		font-size: 23px;
		line-height: 33px;
		width: 100%;
		padding-bottom: 15px;
	}
	h5.text_content {
		padding-right: 100px;
		padding-bottom: 30px;
	}
	.head_wrapper .text_button a.btn-positive{
		padding: 7px 20px;
	}
	.homesection .text_box {
		padding-top: 110px;
		padding-right: 70px;
	}
	.menu_wrapper .image_box  {	
		padding-right: 10px;
	}
	.springwrapper{
		padding: 72px 0 0 0;
		max-height: 608px;
	}
	.springwrapper .text_box {
		padding-top: 40px;	
	}
	.springwrapper h4.title_wrapper {
		padding-bottom: 12px;
	}
	h4.title_wrapper {
		text-align: center;
		font-size: 30px;
		line-height: 36px;
	}
	 .card_wrapper{
		margin-left: -90px;
		float: right;
	}
	.card .card_text{
		padding: 10px ;
		justify-content: center;
	} 
	.springwrapper p.description {
		padding-bottom: 15px;
		font-size: 15px;
		line-height: 22px;
	}
	 h6.card-title{
		font-size: 17px;
		line-height: 24px;
	} 	
	.card_text img {	
		width: 16px;
		margin-left: 0;
	} 
	.card_wrapper .card{
		margin-bottom: 20px;
		margin-right: 20px;
	}
	.card_wrapper .col1, .card_wrapper .col2 {
		padding-left: 0; 
	}	
	.springwrapper .text_box {
		padding-top: 40px;
		margin-left: 0;
	}
	.dashboard_wrapper {
		padding: 40px 0 20px;
	}
	.dashboard_wrap_list .column{
		padding-bottom: 40px;
	}
	.dashboard_wrap_list h6.dashboard_title {
		font-size: 19px;
		line-height: 23px;
		margin-left: 40px;
		margin-bottom: 8px;
	}
	.dashboard_wrap_list .dashboard_icon {
		width: 35px;
	}
	.dashboard_top h4.title_wrapper {
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.dashboard_wrap_list p.description {
		color: #E1E9F0;
		margin-left: 40px;
		font-size: 16px;
		line-height: 22px;
	}
	.createwrapper .create_wrap_text {
		padding-left: 20px;
	}
	.createwrapper h2.title-wrapper {
		padding-bottom: 20px;
		font-size: 36px;
		line-height: 48px;
		margin-bottom: 0;
	}
	.createwrapper .create_content {
		padding: 75px 0 68px 0;
	}
	.createwrapper p.description {
		padding-bottom: 30px;
		margin-bottom: 0;
	}
	.cart_wrapper .row.cart_content {
		margin-top: 0;
	}
	.cart_wrapper .box {
		margin-top: 0;
		max-width: 44%;
	}
	.cart_wrapper .btn2-wrap {
		margin: 0;
		padding: 25px 10px;
	}
	.cart_wrapper h2 {
		font-size: 36px;
		line-height: 48px;
		margin-bottom: 18px;
	}
	.cart_wrapper ul li p{
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.cart_wrapper .white-cart ul li p {
		margin-bottom: 15px;
	}
	.cart_wrapper h2 sup {
		top: -20px;
		right: 5px;
	}
	.cart_wrapper .description {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 16px;
	}
	.top-title {
		font-size: 12px;
		line-height: 18px;
	}
	.cart_wrapper .featured .cart-box {
		padding: 64px 80px ;
	}
	.cart_wrapper h3.cart_title {
		margin-bottom: 32px;
		font-size: 34px;
		line-height: 40px;
		width: 760px;
		margin-right: 100px;
		left: -2%;
	}
	.cart_wrapper img.cart-icon {
		width: 50px;
		height: 50px;
		margin-right: 18px;
	}
	.cart_wrapper span {
		font-size: 16px;
		line-height: 22px;
	}
	.white_head .col_box .right{
		padding-left: 5px;
	}
	.cart_wrapper .cart_footer {
		padding-top: 42px;
	}
	.cart_wrapper {
		padding: 75px 0 68px 0;
	}
	.cart_wrapper .box .white-cart {
		padding: 40px 30px 20px;
	}
	.client_wrapper {
		padding: 60px 0 64px 0;
	}
	.client_wrapper .grid-container {
		grid-gap: 30px 10px;
	}	
	.client_wrapper .grid-items{
		text-align: center;
		padding: 10px;
	}
	.client_wrapper .description {
		width: 90%;
		padding-top: 0;
	}
	.client_wrapper img.asgardia{
		width: 90%;
		max-height: 95%;
	}
	.client_wrapper img.kanba{
		width:85%;
	}
	.client_wrapper img.aven{
	
		width: 85%;
	}
	.client_wrapper img.kyan{
		width: 80%;
	}
	.client_wrapper img.velocity{
		width: 85%;
	}
	footer .copy_right_text .footer_border {
		padding-bottom: 24px;
	}
	footer .footer-top {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	footer .footerlink a {
		font-size: 16px;
		line-height: 25px;
		padding-right: 15px;
	}
	footer .social-media li {
		padding: 0 10px 0 0;
		display: inline;
	}
	h3 {
		margin-bottom: 20px;
		font-size: 34px;
		line-height: 40px;
	}
	.review_wrapper {
		padding: 60px 0 70px 0;
	}
	.review_wrapper .carousel_title {
		padding-bottom: 58px;
	}
	.testimonial_quote img {
		margin-right: 20px;
		width:60px !important; 
	}
	.testimonial_quote{
		max-width: 700px;
	}
	#carousel_indicator {
		margin-top: 70px;
	}
	#carousel_indicator > li {
		width: 32%;
	}
	p.testimonial-content {
		font-size: 20px;
		line-height: 35px;	
	}
	.carousel_box h6 {
		font-size: 18px;
		line-height: 22px;
	}
	.carousel_box p {
		font-size: 16px;
		line-height: 23px;
	}
	.carousel_box img {
		width: 45px;
		height: 45px;
	}
	.carousel_box .author-left{
		width: 17%;
	}
	.carousel_box .author-right{
		padding-left: 6%;
	}
	.form_wrapper h3{
		font-size: 34px;
		 line-height: 40px;
	}
	.form_wrapper{
		padding: 50px 0 50px 0;
	}
	.form_wrapper p.description{
		font-size: 16px;
		line-height: 23px;
	}
	.form_wrapper .newsetter-box form input[type="submit"] {
		font-size: 16px;
		line-height: 24px;
	}
	.signup_wrapper{
		padding: 60px 0 60px 0;
	}
}

@media (max-width: 440px){
	.testimonial-item  {
		flex-direction: column;
	}
}
@media(min-width: 1024px){
	.card_wrapper .card{
		max-width: 300px;
	}
	.card_text img {
		width: 24px;
		margin-left: 6px;
	}
	h6.card-title {
		font-size: 17px;
		line-height: 24px;
	}
	.springwrapper .text_box {
		padding-top: 45px;
		margin-left: 22%;
		padding-right: 40px;
	}	 
}
@media(min-width: 768px) and (max-width: 900px){
	.homesection .text_box {
		padding-top: 78px;
	}
	.springwrapper{
		max-height: 590px;
	}
	.card_wrapper{
		margin-left: -60px;
		padding: 0;
		width: 120%;
	}
	.card .card_text{
		padding: 10px 6px;
		justify-content: center;
	}  
	.springwrapper .text_box {
		padding-top: 45px;
		margin-left: 0;
		padding-right: 85px;
	}
	.cart_wrapper .featured .cart-box {
		padding: 60px 40px;
	}
	.cart_wrapper .box {
		margin-bottom: 30px;
		max-width: 48%;
	}
	.cart_wrapper .box .white-cart {
		padding: 30px 20px 10px;
	}
	.cart_wrapper h3.cart_title {
		left: 0;
		margin-left: 12px;
	}
}	


